@model IEnumerable<JustBlog_Final.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Categories manage</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>
@section scripts{

    <script>
    $(function () {
        $("#grid").jqGrid({
            url: '@Url.Action("GetData", "Categories")',
            datatype: "json",
            mtype: "Get",
            colModel: [
                { label: "Id", name: "Id", key: true, index: "Id",width:50/*,editable:true*/ },
                { label: "Name", name: "Name", index: "Name",  width: 150 },
                { label: "Description", name: "Description", index: "Description", width: 250 },
                { label: "UrlSlug", name: "UrlSlug", index: "UrlSlug" },
                { label: 'action', name: 'Id', formatter: formatUpdate, width: 70 },
                { label: 'action', name: 'Id', formatter: formatDelete, width: 70 },
                { label: 'action', name: 'Id', formatter: formatDetails, width: 70 }
            ],
            height: "auto",
            width: 1060,
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30],
            pager: "#pager",
            sortName: "Id",
            viewrecords: true,
            sortorder: "asc",
            caption: "List of post",
            emptyrecords: "No records to display",
            jsonreader: {
                repeatitems: false,
                Id:"0"
            },
            multiselect: false,
        }).navGrid('#pager', { edit: false, add: false, del: false, search: true, refresh: true },
            {},
            {},
            {},
            {
                //SEARCH
                width: 720,
                multipleSearch: true
            })

    })
        function formatDetails(cellvalue) {
            return "<a href=/categories/details/?id=" + cellvalue + ">Details</a>"
        }

        function formatUpdate(cellvalue) {
            return '<a href=/categories/edit/?id=' + cellvalue + '>Update</a>'
        }

        function formatDelete(cellvalue) {
            return '<a href=/categories/delete/?id=' + cellvalue + '>Delete</a>'
        }

    </script>
}
